    body{
        /*Comentarios*/
        color: rgb(236, 207, 231);
        background-color: mediumpurple;
        /*text-align: center;*/
    }

    p, li{
        /*todas las etiquetas p llevarán este estilo*/
        color:black;
        
    }

    h3{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h1{
        font-size: 50px;
        color:rgb(75, 2, 143);
        font-family: 'Roboto', sans-serif;
    }

    img{
        width: 300px;
        border-style: dotted groove;
        border-width: 10px;
        border-color: rgb(216, 140, 200);
        padding: 10px;
        margin: 10px;
    }

    div, footer{
        background-color: rgb(204, 153, 228);
    }

   /* .color1 {color: #592756;}
    .color2 {color: #8b346c;}
    .color3 {color: #d24a8b;}
    .color4 {color: #ff78b2;}
    .color5 {color: #ffacdb;}*/
    


    